body {
    background: linear-gradient(90deg, rgba(240,174,202,1) 30%, rgba(127,103,242,1) 100%);
    min-height: 100vh;
}
h1 {
    margin: 20px;
    color: Tomato;
    text-align: center;
}
h2 {
   color: Red;
}
div {
    color: Orange;
}
a {
    color: Green;
}
