@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* General */
* { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    background: rgb(43, 39, 53);
}
h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}
h2 {
    font-size: 30px;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(231, 168, 208); 
}
p {
    color: rgb(255, 255, 255);
}
/* Table */
table, td, th {
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    color: Pink;
}
/* For Text */
.center {
    text-align: center;
}
hr {
    background-color: Orange;
    border: 0;
    height: 1px;
}
/* Button stays in Corner */
button {
    cursor: pointer;
    margin: 10px;
    background: White;
    border-radius: 20px;
    border-style: solid;
    border-color: White;
    padding: 5px 10px 5px 10px;
}
button:active {
    border-color: Black;
}
/* Links */
a {
    text-decoration: None;
    transition: 2s linear;
    color: rgb(215, 105, 232);
}
a:hover {
    transition: 0.3s linear;
    color: rgb(119, 50, 119);
}
.important {
    color: Red;
}
.highlight {
    color: rgb(107, 2, 117);
}
