/* This Stylesheet is for general use without any colors */
* { 
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body { /* Default Colors */
    background: rgb(251, 221, 134);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #e51471;
    transition: 0.5s linear;
}
footer { 
    background: linear-gradient(90deg, rgba(255,150,50,1) 0%, rgba(252,172,172,1) 100%);
    height: 50px;
    margin-top: auto;
    border-radius: 25px 25px 0px 0px;
}
.footertheme {
    background: rgb(34, 0, 254);
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: Red;
}
button {
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px;
    padding: 5px 10px 5px 10px;
    background-color: White;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(59, 55, 55);
    color: Red;
}
button:active {
    border-color: White;
}
table, td, th {
    border: 1px solid Black;
    padding: 5px;
    margin: 15px;
    border-collapse: collapse;
    text-align: center;
    transition: 0.5s linear;
}
.tabletheme {
    border: 1px solid White;
    transition: 0.5s linear;
}
a {
    transition: 0.2s linear;
    text-decoration: None;
}
a:hover {
    transition: 0.3s linear;
    color: Orange;
}
.linktheme {
    transition: 0.5s linear;
    color: Red;
}
p {
    margin: 15px;
}
.bodytheme { /* Changed Website Theme */
    background: rgb(50, 64, 87);
    color: rgb(255, 162, 1);
    transition: 0.5s linear;
}
.border {
    border: 1px solid Black;
    margin: 15px;
    background-color: White;
}
