/* Default Red Theme */
body {
    background: rgb(237, 9, 47);
}
/* Navigation Menu Text Color */
.menu p {
    color: Brown;
}
/* Menu Link Color (& Title) */
.menu a {
    color: Aquamarine;
}
/* Menu Link Hover Color */
.menu a:hover {
    color: rgb(113, 25, 221);
}
.menubottom {
    background-color: rgb(255, 0, 212);
}
