/* Default Red Theme */
body {
    background: rgb(160, 45, 70);
}
/* Text Color */
p {
    color: rgb(205, 158, 165);
}
.important {
    color: Red;
}
.highlight {
    color: rgb(107, 2, 117);
}
/* Link Color (& Title) */
a {
    text-decoration: None;
    transition: 2s linear;
    color: rgb(215, 105, 232);
}
/* Link Hover Color (& Title) */
a:hover {
    transition: 0.5s linear;
    color: rgb(119, 50, 119);
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: rgb(206, 32, 148); 
}
