<!DOCTYPE html>
<html>
    <head>
        <title>Topic</title>
        <meta name="author" content="Emilia">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../../Pinkulani.css">
        <link rel="icon" href="../../../Icon.png">
    </head>
    <body>
        <p class="title">Topic</p>
        <p class="center">
            <a href="../">❦</a>
            <span class="transparent">(Click the Icon to go back)</span>
        </p>
        
    
        <div class="text">
            <h2>Important Topic</h2>
            <p>Important Text</p>
        </div>
    </body>
</html>