body {
    background: linear-gradient(45deg, red, blue);
    min-height: 100hv;
}
h1 {
    margin: 20px;
    color: Tomato;
    text-align: center;
}
h2 {
   color: Red;
}
div {
    color: Orange;
}
a {
    color: Green;
}
