body {
    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.alphacoders.com%2F112%2F112121.jpg&f=1&nofb=1&ipt=75d01a14377bc9fa8eb3a7e0ed4f99b0aa440ec323fe876ab48f2e1ef09c1b4e&ipo=images");
}
h1 {
    margin: 20px;
    color: Tomato;
    text-align: center;
}
h2 {
   color: Red;
}
div {
    color: Orange;
}
a {
    color: Green;
}